@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  font-family: "Roboto";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.g-t-api {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.app_main {
  /* background: url("../public/static/0fd21758eb44841974b0dada1f86bf8f.jpg"); */
  color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.logos {
  align-items: center;
}
.all-content {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.pizza-mouse {
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  /* align-items: center; */
}

main > .container {
}

.footer-container {
  display: grid;
  height: 40px;
  background: #323b94;
  border-radius: 33px;
  background: -webkit-linear-gradient(left, #323b94, #bb497b);
  background: -moz-linear-gradient(left, #323b94, #bb497b);
  background: linear-gradient(to right, #323b94, #bb497b);
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
}

main {
  /* margin-left: 5rem; */
  padding: 1rem;
  /* display: grid; */
  background-color: "#F3FFBD";
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.old-translations {
  box-shadow: 8px 8px 8px rgba(249, 0, 191, 0.3);

  /* border: 2px solid black; */
  border-radius: 30px;
  /* background: -webkit-linear-gradient(left, #323b94, #bb497b);
  background: -moz-linear-gradient(left, #323b94, #bb497b);
  background: linear-gradient(to right, #323b94, #bb497b); */
  padding-top: 30px;
  background-color: #323b94;
  padding-left: 60px;
}
.Site-content {
  flex: 1;
}
.each-trans {
  align-items: center;
  /* border: slateblue solid 1px; */
  list-style-type: none;
  font-size: 25px;
  margin-right: 20px;
}

::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #70c1b3;
}
.logo-row {
  border: 2px solid black;
  border-radius: 30px;
  background: -webkit-linear-gradient(left, #323b94, #bb497b);
  background: -moz-linear-gradient(left, #323b94, #bb497b);
  background: linear-gradient(to right, #323b94, #bb497b);
  padding-top: 30px;
  padding-left: 60px;
}
.jumbotron {
  opacity: 0.7;
  padding: 30px;
  border-radius: 30px;
  color: pink;
  background-color: rgba(0, 0, 0, 0.3);
}
.homepage-image {
  height: 90%;
  width: 90%;
  padding-top: 20px;
}
.nav-link {
  align-items: center;
  min-width: 2rem;
  margin: 0 1.5rem;
  transition: width 200ms ease;
}
p {
  margin: 0;
}
.translate-box {
  /* padding: 20px; */
  margin-bottom: 10px;
  border-radius: 0.3em;
  box-shadow: 10px 10px 30px rgba(249, 0, 191, 0.6);
  /* -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomleft: 11px;
  -moz-border-radius-bottomright: 13px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-left-radius: 11px;
  -webkit-border-bottom-right-radius: 13px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 13px;
  -moz-box-shadow: 7px 7px 7px #941994;
  -webkit-box-shadow: 7px 7px 7px #941994;
  box-shadow: 7px 7px 7px #941994; */
  /* background-color: white !important; */
  /* background: transparent !important; */
  /* color: black; */
  height: 200px !important;
  width: 100% !important;
  /* box-shadow: 0 0 10px pink !important;
  box-shadow: 33 55 5px black !important; */
  /* opacity: 0.3; */
}
/* #basic-navbar-nav > div > div:nth-child(1) > a > span > svg */
.navigationBar {
  height: 3rem;
  fill-opacity: 50%;
}
#basic-navbar-nav > div > div > a > span:hover {
  color: #f3e9d2;
  cursor: pointer;
  -webkit-transition: color 200ms;
}

#basic-navbar-nav > div > div > a > span {
  color: #d9688d;
  /* float: left; */
  /* text-align: center; */
}

#basic-navbar-nav > div > div > a {
  /* color: black;
  border-radius: 0px;
  -webkit-transition: border 1s; */
}
.navbar-brand {
  margin-left: 2px;
  margin-right: 40px;
  padding-right: 10px;
  border-right: 1px solid white;
}
.navbar-brand:hover {
  /* background-color: red; */
}
